<div *ngFor="let institucion of instituciones">
  <h2>Institución: {{ institucion.nombre }}</h2>
  <p><strong>RUT:</strong> {{ institucion.rut }}</p>
  <div *ngFor="let proyecto of proyectosFiltrados[institucion.id]">
    <h3>Proyecto: {{ proyecto.nombre }}</h3>
    <p><strong>Descripción:</strong> {{ proyecto.descripcion }}</p>
    <p><strong>Fecha Inicio:</strong> {{ proyecto.fechaInicio }}</p>
    <p><strong>Fecha Fin:</strong> {{ proyecto.fechaFin }}</p>
    <p><strong>Presupuesto:</strong> {{ proyecto.presupuesto }}</p>
    <p><strong>Monto Total Rendiciones:</strong> {{ obtenerRendicionesPorProyecto(proyecto.id) }}</p>
    <div *ngFor="let rendicion of rendicionesFiltradas[proyecto.id]">
      <p><strong>Fecha Rendición:</strong> {{ rendicion.fechaRendicion }}</p>
      <p><strong>Monto Total:</strong> {{ rendicion.montoTotal }}</p>
    </div>
  </div>
</div>
