<nav>
  <div class="px-3 py-2 text-bg-dark border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <i class="bi bi-gear me-2" style="font-size: 32px;"></i>Control Fondos
        </a>

        @if(isLoggedIn){
          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">

            <li>
              <a href="#" class="nav-link text-white">
                <i class="bi bi-bell d-block mx-auto mb-1"></i>
                Notificaciones
              </a>
            </li>
            <li>
              <button *ngIf="isLoggedIn" (click)="logout()" class="btn btn-light text-dark me-2">
                Salir
              </button>

            </li>
          </ul>
        }

        <div class="text-end">
          @if(!isLoggedIn){
            <button type="button" class="btn btn-light text-dark me-2" [routerLink]="['/login']">Login</button>

          }
        </div>


      </div>
    </div>
  </div>


</nav>
