@if(isLoggedIn){
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary sidebar">
    <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
      <input type="search" class="form-control" placeholder="Buscar ejecutor..." aria-label="Search">
    </form>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a [routerLink]="['/']" class="nav-link link-body-emphasis">
          <i class="bi bi-speedometer2 me-2"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a [routerLink]="['ejecutores']" class="nav-link link-body-emphasis">
          <i class="bi bi-people-fill me-2"></i>
          Ejecutores
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <i class="bi bi-table me-2"></i>
          Calendario
        </a>
      </li>
    </ul>
    <hr>
  </div>


}

